<!DOCTYPE html>
<html lang="ua">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Полив">
    <meta name="author" content="Sergii Butenko">
    <meta name="theme-color" content="#006eff">
    <title>Полив</title>
    <!-- Material Design fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Bootstrap Material Design generic -->
    <link type="text/css" rel="stylesheet"  href="static/css/bootstrap/bootstrap-material-design.min.css">
    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" href="static/css/custom.css"> {% block custom_css %}{% endblock %}
    <link rel='shortcut icon' type='image/x-icon' href='static/icon/favicon.ico' />
</head>

<body>
    {% block modals %}{% endblock %}
    <div id="plan_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="irrigate_modal-label" aria-hidden="true" data-id='0'>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title ">Виберіть час початку</h4>
                </div>
                <div class="modal-body">
                    <select class="form-control" id="select_line" title="Виберіть час початку">
                        <option value="0">Зараз</option>
                        <option value="1">Додати до останнього поливу</option>
                        <option value="2">Через 1 годину</option>
                        <option value="3">Через 2 години</option>
                        <option value="4">Через 3 години</option>
                        <option value="5">Через 4 години</option>
                        <option value="6">Через 5 годин</option>
                        <option value="7">Через 6 годин</option>
                        <option value="8">Через 7 годин</option>
                        <option value="9">Через 8 годин</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                    <button type="button" class="btn btn-primary master_plan">Запланувати</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div id="plan_modal_all" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="irrigate_modal-label" aria-hidden="true" data-id='0'>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title ">Полити всі лінії</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="select_line_all">Час початку</label>
                    <select class="form-control" id="select_line_all" title="Виберіть час початку">
                        <option value="0">Зараз</option>
                        <option value="1">Додати до останнього поливу</option>
                        <option value="2">Через 1 годину</option>
                        <option value="3">Через 2 години</option>
                        <option value="4">Через 3 години</option>
                        <option value="5">Через 4 години</option>
                        <option value="6">Через 5 годин</option>
                        <option value="7">Через 6 годин</option>
                        <option value="8">Через 7 годин</option>
                        <option value="9">Через 8 годин</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="irrigation_volume">Інтенсивність</label>
                    <select class="form-control" id="irrigation_volume" title="Інтенсивність">
                        <option value="0">Звичайна</option>
                        <option value="1">Полити усе на 5 хвилин довше</option>
                        <option value="2">Полити усе на 1 раз більше</option>
                    </select>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                    <button type="button" class="btn btn-primary master_plan_all">Полити</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div id="plann_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="plann_modal-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4>Полити один раз</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Що поливати:</label>
                                <select class="form-control" id="branch_select_plann_modal" title="Виберіть гілку полива"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Дата</label>
                                <input class="form-control irrigation_date_plann_modal" type="date">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>Час</label>
                                <input type="time" class="form-control irrigation_time_plann_modal">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group" id="irrigation_minutes_group">
                                <label>Тривалість</label>
                                <input type="number" pattern="\d*" class="form-control" id="irrigation_minutes_plann_modal" required>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group" id="irrigation_intervals_group">
                                <label for="irrigation_minutes">Кількість повторів</label>
                                <input input type="number" pattern="\d*" class="form-control" id="irrigation_intervals_plann_modal">
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="form-group" id="irrigation_time_wait_group" style="display:none">
                                <label>Час між поливами</label>
                                <input type="number" pattern="\d*" class="form-control" id="irrigation_time_wait_plann_modal" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-modal" data-dismiss="modal">Закрити</button>
                        <button type="button" class="btn btn-primary plan btn-modal">Додати</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
    <!-- Small modal -->
    <div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay-md-down bmd-drawer-in-lg-up">
        <header class="bmd-layout-header">
            <div class="navbar navbar-light bg-faded">
                <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="drawer" data-target="#my-drawer">
                    <span class="sr-only">Toggle drawer</span>
                    <i class="material-icons">menu</i>
                </button>
                <ul class="nav navbar-nav">
                    <li class="nav-item"> {% block nav_item_title %}{% endblock %}
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-xs-right">
                    {% block right_header %}{% endblock %}
                    <li class="nav-item">
                        <div class="dropdown">
                            <button class="btn bmd-btn-icon btn-secondary dropdown-toggle" type="button" id="more-menu" data-toggle="dropdown" aria-haspopup="true">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="more-menu">
                                <a class="dropdown-header">Майстер поливу</a>
                                <a class="dropdown-item irrigate_all">Полити усі лінії</a>
                                <a href="/" class="dropdown-item">Майстер Поливу</a>
                                <a class="dropdown-header">Детальне планування</a>
                                <a class="dropdown-item add_rule">Запланувати полив однієї лінії</a>
                                <a href="/add_rule?add_to_date=1" class="dropdown-item" id="irrigate_tommorow">Запланувати полив на завтра</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <div id="my-drawer" class="bmd-layout-drawer">
            <header>
                <span>Температура повітря: <span id="temp">-1</span> &#8451;</span>
                <span>Вологість: <span id="hum">-1</span>%</span>
                <span>Опади за вчора: <span id="rain">-1</span>мм</span>
                <br>
                <span id="irrigation_status">Оновлюється...</span>
            </header>
            <ul class="list-group">
                <a class="list-group-item" href='/'><i class="material-icons" role="presentation">home</i>Майстер Поливу</a>
                <a class="list-group-item" href='/detailed'><i class="material-icons" role="presentation">home</i>Детальний Полив</a>
                <a class="list-group-item" href='/ongoing_rules'><i class="material-icons" role="presentation">report</i>Переодичний Полив</a>
                <a class="list-group-item" href='/history'><i class="material-icons" role="presentation">alarm</i>Розклад</a>
                <a class="list-group-item" href='/lighting'><i class="material-icons" role="presentation">report</i>Освітлення</a>
                <a class="list-group-item" href='/greenhouse'><i class="material-icons" role="presentation">report</i>Теплиця</a>
                <a class="list-group-item" href='/tank'><i class="material-icons" role="presentation">report</i>Бочка</a>
                <a class="list-group-item" href='/pumps'><i class="material-icons" role="presentation">forum</i>Насос</a>
            </ul>
        </div>
        <main class="bmd-layout-content">
            <div class="container">
                {% block container %}{% endblock %}
            </div>
        </main>
    </div>
    <script type="text/javascript" src="static/js/bootstrap/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap/tether.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrap/bootstrap-material-design.iife.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script type="text/javascript" src="static/js/bootstrap/ie10-viewport-bug-workaround.js"></script>
    <script>
    $('body').bootstrapMaterialDesign();
    </script>
    <script type="text/javascript" src="static/js/bootstrap/socket.min.js"></script>
    <script type="text/javascript" src="static/js/base_min.js"></script>
    {% block custom_scripts %} {% endblock %}
</body>

</html>