{% extends 'base.html' %} {% block nav_item_title %}Верхня бочка{% endblock %} {% block modals %}
<div id="tank_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tank_modal-label" aria-hidden="true" data-id=0>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title ">Увімкнути наповнення</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" id="tank_minutes_group">
                    <label class="control-label" for="tank_minutes">Тривалість наповнення</label>
                    <input iinput type="number" pattern="\d*" class="form-control" id="tank_minutes" required>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Дата початку</label>
                            <input class="form-control irrigation_date" type="date">
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label>Час початку</label>
                            <input type="time" class="form-control irrigation_time">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary start-tank">Наповнити</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}
<!-- Custom styles for this template -->
{% block container %}
<div id="card-holder">
    <div class="row">
        {% for n in my_list %}
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6">
            <div class="card card-tank" id="card-{{n['id']}}">
                <div class="card-block">
                    <h4 class="card-title" id="title-{{n['id']}}">{{n['name']}}</h4>
                    <p class="card-text text-muted">
                        <span id="next-{{n['id']}}"></span>
                        <span id="device-error-{{n['id']}}" style="display: none; color:red">
                            Неможливо підключитися до датчика. Наповнення треба зупиняти вручну.
                        </span>
                        <span id="device-ok-{{n['id']}}" style="display: none; color:green">
                            Підключення до датчика вдале. Наповнення зупиниться автоматично.
                        </span>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-secondary cancel-filling" data-id={{n[ 'id']}} id="btn-cancel-{{n['id']}}">Скасувати наповнення</a>
                    <a href="#" class="btn btn-secondary btn-open-modal disabled" data-id={{n[ 'id']}} id="btn-start-with-options-{{n['id']}}">Налаштувати і наповнити</a>
                    <a href="#" class="btn btn-primary btn-start disabled" data-id={{n[ 'id']}} id="btn-start-{{n['id']}}">Наповнити зараз</a>
                    <a href="#" class="btn btn-primary stop-tank disabled" data-id={{n[ 'id']}} id="btn-stop-{{n['id']}}">Зупинити наповнення</a>
                    <span class="status-span">В системі помилка</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} {% block custom_scripts %}
<script type="text/javascript" src="static/js/tank_min.js"></script>
{% endblock %}