<hr style="margin-top: 2rem; margin-bottom: 2rem" />
<h5>Додаткові дії</h5>
</br>
<a class="btn btn-raised btn-block btn-secondary" href="/planner" role="button">
                    Майстер поливу
                </a> 
<a class="btn btn-raised btn-block btn-secondary add_rule" role="button">
                    Полити щось одне
                </a>
<a class="btn btn-raised btn-block btn-secondary" href="/add_rule?add_to_date=0" role="button">
                    Запланувати полив на сьогодні...
                </a>
<a class="btn btn-raised btn-block btn-secondary" href="/add_rule?add_to_date=1" role="button">
                    Запланувати полив на завтра...
                </a> 