{% extends 'base.html' %} {% block nav_item_title %}Майстер полива{% endblock %} {% block custom_css %} {% endblock %} {% block modals %} {% endblock %}
<!-- Custom styles for this template -->
{% block container %}
<button type="button" class="btn btn-raised btn-block btn-secondary irrigate_all" style="margin-top: 1rem; margin-bottom: 2rem">
    Полити усі лінії...
</button>
<div id="card-holder">
    {% for name, group in my_list.items() %}
    <hr style="margin-bottom: 2rem" />
    <h5>{{group[0]['group_name']}}</h5>
    <div class="row">
        {% for n in group %}
        <div class="col-xs-12 col-sm-5 col-md-6 col-lg-5">
            <div class="card" data-line_id={{n[ 'line_id']}}>
                <div class="card-block">
                    <h4>{{n['line_name']}}</h4>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary select">Обрати</a>
                    <a href="#" class="btn btn-primary deselect hidden">Скасувати</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
</br>
<button type="button" class="btn btn-raised btn-block btn-primary" id="next">
    Визначити час поливу...
</button>
{% include "additional_actions.html" with context %}{% endblock %} {% block custom_scripts %}
<script type="text/javascript" src="static/js/planner.js?1"></script>
{% endblock %}