[Unit]
Description=Power suuply for raspberry pi 
After=network.target
Requires=network.target

[Service]
EnvironmentFile=/etc/environment
ExecStart=PYTHONPATH=/var/www/app/ /usr/bin/python3 /var/www/app/power_supply_notifier/power_supply_notifier.py

RestartSec=5
TimeoutSec=5
User=root

[Install]
WantedBy=multi-user.target
