[Unit]
Description=Rules handler for irrigation system
After=network.target
Requires=network.target

[Service]
ExecStart=/usr/bin/python3 /var/www/web/greenhouse_handler.py

OnBootSec=6min
User=root

[Install]
WantedBy=multi-user.target
