[Unit]
Description=Telegram Bot service
After=network.target
Requires=network.target

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/bin/sleep 20
ExecStart=/usr/local/bin/gunicorn \
	-w 1 \
	-b 0.0.0.0:8010 \
	--pythonpath /var/www/app/bots/telegram/ \
	--user root \
	telegram_bot:app

Restart=always
RestartSec=45
User=root

[Install]
WantedBy=multi-user.target
