[Unit]
Description=Telegram Bot service
After=network.target
Requires=network.target

[Service]
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/python3 /var/www/web/telegram_bot/telegram_bot.py

TimeoutSec=6min
Restart=always
RestartSec=5
User=root

[Install]
WantedBy=multi-user.target
