[Unit]
Description=Backend part of irrigation system for peregonivka port 7543
After=network.target
Requires=network.target

[Service]
ExecStartPre=/bin/sleep 30
ExecStart=/usr/local/bin/gunicorn \
	--worker-class eventlet \
	-w 1 \
	-b 0.0.0.0:7543 \
	--pythonpath /var/www/web/ \
	--user root \
	gunicorn_irrigation_web:app

Restart=always
RestartSec=35
User=root

[Install]
WantedBy=multi-user.target
