[Unit]
Description=Backend part of irrigation system for peregonivka for port 8001
After=network.target
Requires=network.target

[Service]
EnvironmentFile=/etc/environment
WorkingDirectory=/var/www/
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/gunicorn3 \
	--worker-class eventlet \
	-w 1 \
	-b 0.0.0.0:8000 \
	--pythonpath /var/www/ \
	--user root \
	app.web.backend:app

Restart=always
RestartSec=35
User=root

[Install]
WantedBy=multi-user.target
