[Unit]
Description=Irrigation docker compose files
After=network.target
Requires=network.target

[Service]
WorkingDirectory=/var/www/app
StandardOutput=journal
ExecStartPre=/usr/local/bin/docker-compose down
ExecStart=/usr/local/bin/docker-compose up --build

Restart=always
RestartSec=35
User=root

[Install]
WantedBy=multi-user.target
