[Unit]
Description=Backend part of irrigation system for peregonivka for port 7542
After=network.target
Requires=network.target

# --certfile /var/www/app/ssl_sertificats/mozz/cert.pem \
# --keyfile /var/www/app/ssl_sertificats/mozz/privkey.pem \

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/bin/sleep 30
ExecStart=/usr/local/bin/gunicorn \
	--worker-class eventlet \
	-w 3 \
	-b 0.0.0.0:8000 \
	--pythonpath /var/www/app/web/ \
	--user root \
	gunicorn_irrigation_web:app

Restart=always
RestartSec=35
User=root

[Install]
WantedBy=multi-user.target
