[Unit]
Description=Ping service
After=network.target
Requires=network.target

[Service]
EnvironmentFile=/etc/environment
WorkingDirectory=/var/www/
ExecStart=/usr/bin/gunicorn3 \
	-w 1 \
	-b 0.0.0.0:8002 \
	--pythonpath /var/www/app/im_alive_service \
	--user root \
	im_alive:app

Restart=always
RestartSec=45
User=root

[Install]
WantedBy=multi-user.target
