[Unit]
Description=Data logger for arduino moisture sensors
After=network.target
Requires=network.target

[Service]
EnvironmentFile=/etc/environment
ExecStart=PYTHONPATH=/var/www/app/ /usr/bin/python3 /var/www/app/logger_service/data_logger.py

User=root

[Install]
WantedBy=multi-user.target
