[Unit]
Description=Data logger for arduino moisture sensors
After=network.target
Requires=network.target

[Service]
EnvironmentFile=/etc/environment
WorkingDirectory=/var/www/
ExecStart=/usr/bin/python3 -m logger_service.data_logger

User=root

[Install]
WantedBy=multi-user.target
