[Unit]
Description=Rules handler for irrigation system
After=network.target
Requires=network.target

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python3 /var/www/app/greenhouse_handler/greenhouse_handler.py

User=root

[Install]
WantedBy=multi-user.target
