[Unit]
Description=Rules handler for irrigation system
After=network.target
Requires=network.target

[Service]
ExecStartPre=/bin/sleep 40
ExecStart=/usr/bin/python3 /var/www/web/rules_handler.py

Restart=always
RestartSec=45
User=root

[Install]
WantedBy=multi-user.target
