{% extends 'base.html' %} {% block nav_item_title %}Теплиця{% endblock %} {% block modals %}
<div id="greenhouse_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="greenhouse_modal-label" aria-hidden="true" data-id=0>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title ">Увімкнути</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" id="greenhouse_minutes_group">
                    <label class="control-label" for="greenhouse_minutes">Тривалість</label>
                    <input iinput type="number" pattern="\d*" class="form-control" id="greenhouse_minutes" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary start-greenhouse">Увімкнути</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}
<!-- Custom styles for this template -->
{% block container %}
<div id="card-holder">
    {% for id, group in my_list['sensors'].items() %}
    <h5>{{group['values'][0][3]}}</h5> {% if group['values'][0][4] == 'air_sensor' %}
    <h7>Температура повітря: {{group['values'][0][1]}} C*</h7>
    <h7>Час: {{group['values'][0][5].strftime('%H:%M%')}} C*</h7>
    <br>
    <h7>Вологість повітря: {{group['values'][0][2]}} %</h7>
    {% endif %} {% if group['values'][0][4] == 'ground_sensor' %}
    <h7>Температура повітря: {{group['values'][0][1]}} C*</h7>
    <h7>Час: {{group['values'][0][5].strftime('%H:%M%')}} C*</h7>
    {% endif %}
    <hr style="margin-top: 0.5rem; margin-bottom: 2rem" /> {% endfor %}
    <div class="row">
        {% for n in my_list['lines'] %}
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-5">
            <div class="card card-greenhouse" id="card-{{n['id']}}">
                <div class="card-block">
                    <h4 class="card-title" id="title-{{n['id']}}">{{n['name']}}</h4>
                    <p class="card-text text-muted">
                        <span id="next-{{n['id']}}"></span>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-secondary btn-open-modal disabled" data-id={{n[ 'id']}} id="btn-start-with-options-{{n['id']}}">Налаштувати і увімкнути</a>
                    <a href="#" class="btn btn-primary btn-start disabled" data-id={{n[ 'id']}} id="btn-start-{{n['id']}}">Увімкнути</a>
                    <a href="#" class="btn btn-primary stop-greenhouse disabled" data-id={{n[ 'id']}} id="btn-stop-{{n['id']}}">Вимкнути</a>
                    <span class="status-span">Не зміг підлючитися</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} {% block custom_scripts %}
<script src="static/js/greenhouse.js"></script>
{% endblock %}