{% extends 'base.html' %} {% block nav_item_title %}Теплиця{% endblock %} {% block modals %}
{% endblock %}
<!-- Custom styles for this template -->
{% block container %}

{% for id, group in my_list.items() %}
<h5>{{group['values'][0][3]}}</h5>
	{% if group['values'][0][4] == 'air_sensor' %}
	<h6>Температура повітря: {{group['values'][0][1]}} C*</h6>
	<h6>Вологість повітря: {{group['values'][0][2]}} %</h6>
	{% endif %}

	{% if group['values'][0][4] == 'ground_sensor' %}
	<h7>Температура грунта: {{group['values'][0][1]}} C*</h7>
	{% endif %}
	<hr style="margin-top: 0.5rem; margin-bottom: 2rem" /> {% endfor %}
{% endfor %}

{% endblock %} {% block custom_scripts %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="static/js/greenhouse.js"></script>
{% endblock %}